html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    background-color: black;
    color: white;
}

.card {
    background-color: #1E90FF;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress {
    background-color: white;
}

.progress-bar {
    background-color: #00BFFF;
}
.table {
    color: white;
    background-color: #1E1E2F;
}

th, td {
    text-align: center;
}
